<div class="sidebar">

  <div class="sidebar-header">
    <h1 class="sidebar-title">Track Chat</h1>
  </div>

  <p class="current-rooms">Tracks in Progress</p>
  <div class="room-name" ng-repeat="room in home.rooms" ng-click="home.setRoom(room)" >{{ room.$value }}
  </div>
<br>
  <div class="new-room">
  <button class="new-room-button" ng-click="home.addRoom()">New track</button>
</div>
</div>

<div class="messages-container">
  <div class="current-room">
    {{ home.currentRoom.$value }}
  </div>
  <div class="messages" ng-repeat="message in home.messages">
    <div class="username">{{ message.username }}: </div>
    <div class="content">{{ message.content }} </div>
    <div class="sentAt-roomId">at: {{ message.sentAt + " in " + message.roomId }} </div>
    </div>

<div class="message-bar">
  <input type="text" class="message-input" id="textfield" placeholder=" Type message here..." ng-model="home.newMessage.content">
  <button class="send-message-button" ng-click="home.sendMessage()">Send Message!</button>

  </div>
</div>
